@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
}

nav a:hover {
    color: #007BFF;
}

section {
    margin-bottom: 30px;
}

section img {
    display: block;
    margin: 10px 0;
    max-width: 100%;
    height: auto;
}

.highlight {
    color: rgb(25, 0, 255);
}

footer {
    text-align: center;
    padding: 15px 0;
    background-color: #f2f2f2;
    margin-top: 30px;
}
h1 {
    text-align: center;
    color: salmon;
}
p {
    text-align: justify;
    color: teal;
}
