* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}


.container {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0px 10px 20px #888888;
    padding: 40px;
    background-color: aquamarine;
    margin: 50px auto;
    max-width: 400px;
    width: 90%;
}

h1 {
    margin-bottom: 10px;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-top: 15px;
}

input, select {
    width: 100%;
    max-width: 300px;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
    border-radius: 10px;
    color: #333;
    border: 1px solid #ccc;}

.btn-submit {
    margin-top: 20px;
    padding: 10px 30px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.btn-submit:hover {
    background-color: #b30095;
}

footer {
    margin-top: 40px;
    text-align: center;
}

.s {
    font-size: 12px;
    color: #555;
    margin-top: 10px;
}
.s span {
    text-decoration: underline;
    cursor: pointer;
}
.s:hover span {
    color: #f700ff;
}