* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    background: rgb(237, 191, 117);
    padding: 2rem;
    text-align: center;
}

article {
    padding: 0.5rem;
    margin: 0.35rem;
    background: rgb(58, 196, 145);
}
section {
    display: grid;
    /* grid-template-columns: 100px 200px 300px; */
    grid-template-columns: 2fr 1fr 1fr 1fr;
    /* grid-template-columns: repeat(2, 100px); */
    /* grid-template-columns: 100px minmax(100px, 500px) 180px; */
    /* grid-template: 40% 60% 50px / 100px 50% 200px; */

}
.article-1 {
    /* grid-column-start: 1;
    grid-column-end: 5; */
    grid-column: 1/5;
}

.article-2 {
    /* grid-row-start: 2;
    grid-row-end: 5; */
    grid-row: 2/5;
    /* grid-column-start: 1;
    grid-column-end: 3; */
    grid-column: 1/3;
}

.article-3 {
    /* grid-row-start: 3;
    grid-row-end: 5; */
    grid-row: 3/5;
    /* grid-column-start: 3;
    grid-column-end: 5; */
    grid-column: 3/5;
}

.article-4 {
    /* grid-column-start: 3;
    grid-column-end: 5; */
    grid-column: 3/5;
}