@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto Slab", serif;
    background-color: #f4f4f4;
}

.fa-solid.fa-mug-hot {
    color: #ac7e68;
    margin-right: 0.5rem;
}

span {
    color: #ac7e68;
}
nav {
    background: #222;
    color: #fffbf2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 0.8rem 2rem;
}

nav h3 {
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    color: #fff;
    margin: 0;
}
nav ul {
    list-style: none;
    display: flex;
}

nav ul li a {
    color: #fffbf2;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 10px;
}

nav ul li a:hover {
    background-color: #ac7e68;
    color: #fff;
}

.text-jijig {
    font-size: 2rem;
    color: #ac7e68;
}

h1 {
    font-size: 3rem;
    color: #fffbf2;
}

header.header-image p {
    font-size: 1rem;
    max-width: 600px;
    margin-top: 1rem;
}

footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 2rem;
}

.section {
    background-color: #d8d2c8;
    padding: 60px 20px;
    min-height: 85.3vh;
    display: flex;
    align-items: center;
}
.container {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    gap: 50px;
    align-items: center;
}

.left img {
    width: 100%;
    max-width: 450px;
    border-radius: 10px;
    box-shadow: 10px 10px 3px rgba(0,0,0,0.2);
}

.right {
    flex: 1;
}

.right h2 {
    text-align: center;
    color: #9b6f5a;
    margin-bottom: 40px;
    font-size: 28px;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.item h4 {
    font-size: 14px;
    letter-spacing: 1px;
}

.item span {
    font-weight: bold;
    font-size: 14px;
}
@media screen and (max-width: 768px) {

    .section {
        padding: 40px 15px;
        min-height: auto;
    }

    .container {
        flex-direction: column;
        gap: 30px;
    }

    .right h2 {
        font-size: 22px;
        margin-bottom: 25px;
    }

    .item {
        flex-direction: row;
        font-size: 14px;
    }

    .item h4 {
        font-size: 13px;
    }

    .item span {
        font-size: 13px;
    }

    .left img {
        max-width: 90%;
        margin: 0 auto;
        display: block;
    }

    nav {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 1rem 0;
    }

    nav h3 {
        margin-bottom: 0.5rem;
        font-size: 1.2rem;
    }

    nav ul {
        flex-direction: row;
        justify-content: center;
        gap: 0.8rem;
    }

    nav ul li a {
        padding: 0.3rem 0.4rem;
        font-size: 0.85rem;
    }

}