@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto Slab", serif;
    background-color: #f4f4f4;
}

.fa-solid.fa-mug-hot {
    color: #ac7e68;
    margin-right: 0.5rem;
}

span {
    color: #ac7e68;
}

nav {
    background: #222;
    color: #fffbf2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 0.8rem 2rem;
}

nav h3 {
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    color: #fff;
    margin: 0;
}
nav ul {
    list-style: none;
    display: flex;
}

nav ul li a {
    color: #fffbf2;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 10px;
}

nav ul li a:hover {
    background-color: #ac7e68;
    color: #fff;
}

header.header-image {
    background: url('../sem3-images/home3.jpg') center center/cover no-repeat;
    height: 70vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header.header-image .overlay {
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}

.text-jijig {
    font-size: 2rem;
    color: #ac7e68;
}

h1 {
    font-size: 3rem;
    color: #fffbf2;
}

header.header-image p {
    font-size: 1rem;
    max-width: 600px;
    margin-top: 1rem;
}

footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 2rem;
}

section {
    background-color: #fffbf2;
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 2fr; 
    gap: 2rem; 
    align-items: center;
}
section p {
    font-size: 1rem;
    line-height: 1.6;
    padding: 0 1rem;
}

.sec1_img {
    flex: 1;
    justify-content: center;
    align-items: center;
}

.sec1_img img {
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    padding: 2rem;

}

#sec1 {
    padding-top: 2rem;
    background-color: #fffbf2;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #222;
}

h3 .num {
    color: #ac7e68;
    font-weight: bold;
    font-size: 1.8rem;
}

@media screen and (max-width: 768px) {

    header.header-image {
        height: 85vh;
    }

    h1 {
        font-size: 2.3rem;
        line-height: 1.2;
    }

    .text-jijig {
        font-size: 0.9rem;
        margin-bottom: 0.5rem;
    }

    nav {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 1rem 0;
    }

    nav h3 {
        margin-bottom: 0.5rem;
        font-size: 1.2rem;
    }

    nav ul {
        flex-direction: row;
        justify-content: center;
        gap: 0.8rem;
    }

    nav ul li a {
        padding: 0.3rem 0.4rem;
        font-size: 0.85rem;
    }

    section {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .sec1_img img {
        width: 80%;
        margin: auto;
        padding: 1rem;
    }
}